/*===Pay Settings===*/

.dnt_notice {
	margin: 2px 0;
	font-weight: 600;
}

/*==Payment Tabs==*/

.dnt_custom_buttons h3 {
	display: block;
	padding: 5px;
}
#dnt_donate {
	width: 100%;
}
#dnt_settings_box #dnt_noscript > .form-table {
	float: left;
	width: auto;
	margin-right: 40px;
}
.dnt_output_block_paypal, .dnt_output_block_co {
	background-color: #E6E6E6;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	max-width: 280px;
	padding: 10px;
	text-align: center;
}
.dnt_shortcode_box {
	color: #000000;
}
#dnt_shortcode_options_paypal td, #dnt_shortcode_options_co td {
	vertical-align: top;
}
#dnt_imagex_box td {
	vertical-align: middle;
}
.dnt_custom_buttons .postbox {
	max-width: 350px;
	text-align: center;
}
.dnt_custom_buttons .postbox table {
	width: 100%;
}

.dnt_notice_box {
	padding: 0 10px 10px;
}
.dnt_img_box {
	width: 170px;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

/*===Widget settings===*/

.dnt_tabs-panel-paypal label, .dnt_tabs-panel-co label {
	padding: 4px 12px;
	display: block;
}
.dnt_widget {
	position: relative;
	z-index: 100;
	width: 260px;
}
.dnt_widget_title {
	width: 100%;
}
.dnt_donate_button > img {
	z-index: 1000;
}
.dnt_donate_button {
	position: relative;
	margin-bottom: 10px;
	z-index: 100;
}
.dnt_donate_button:hover {
	cursor: pointer;
}
.post .dnt_donate_button #dnt_options_box {
	left: 0;
}
.dnt_widget_settings_donate .dnt_tabs-panel label {
	margin-top: 4px;
}
.dnt_widget_settings_donate .dnt_tabs-panel-co,
.dnt_tabs-panel-paypal {
	border: 1px solid #DFDFDF;
	padding: 5px 0;
	background-color: #F7F7F7;
}
.dnt_widget_settings_donate .category-tabs .tabs {
	background-color: #F7F7F7;
	border-bottom-color: #F7F7F7;
}
.dnt_widget_settings_donate input[type='text'] {
	margin-top: 1px;
	margin-bottom: 9px;
}
.category-tabs > input,
.dnt_tabs-panel-paypal > input,
.dnt_tabs-panel-co > input {
	margin-top: -4px;
}
.category-tabs li:hover {
	cursor: pointer;
}
.dnt_widget ul {
	list-style-type: none;
	margin: 0;
	padding: 18px;
}
#widget-donate_widget_id-4-dnt_widget_donate {
	margin-top: 5px;
}
#widget-donate_widget_id-4-dnt_widget_donate + label {
	padding: 0;
	padding-top: 6px;
}

/*Script classes*/

.dnt_hidden {
	display: none;
}
.dnt_display {
	display: block;
}
